extends layout

block pageJS
  script.
    function postLogin() {
      for(let workflow of document.getElementsByClassName("workflow")) workflow.style.display="none";
      for(let userContent of document.getElementsByClassName(localStorage.getItem("user"))) userContent.style.display="inherit";
    }

block content

  br
  .container.centerContainer
    h5(class = "authentication") You have been logout, you will have to login again to use this functionality !
  span(class="restricted")
    br
    br
    container.centerContainer
      h5 Phenotype definitions having multiple connectors or branches will appear multiple times; please select the desired implementation by viewing it first before proceeding to the edition.
    br
    div(class="container" style="padding-top: 20px;")
    
      each workflow in workflows
        span(class="workflow " + workflow.userName)
          div(class="row")
            div(class="col" style="padding-top: 20px;")
                a(href=listPrefix + workflow.id) #{workflow.name}
                |  #{workflow.about}
            div(class="col-1" style="padding-top: 20px;")
                a(href=listPrefix + workflow.id)  VIEW
    div(class="container" style="padding-top: 20px; text-align: center;")
      if previous!==undefined && previous > -1
        a(href=previous) PREVIOUS
      if next && workflows.length == limit
        | &nbsp;
        a(href=next) NEXT


  
