extends layout 

block content  
    
    script(type='text/javascript', src='/phenoflow/javascripts/timeSince.js')

    br
    .container.centerContainer
        a(href= "/phenoflow/forum").modalBtn &larr;  Go back to FORUM
    br
    .card
        .card-header
            | #{post.title}
        .card-body
            blockquote.blockquote.mb-0
            p
            | #{post.question}
            p
            footer.blockquote-footer
                | by #{post.author}
                p
                p#timeAgo
            button.btn.btn-outline-info(onClick = "deletePost(" + post.id + ")" class = "deletePost restricted").deletePostBtn
                svg.bi.bi-trash3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                    path(d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z')
            
    br
    .container.centerContainer
            button.btn.btn-outline-info(type='button' data-toggle='modal' data-target='#answerModal').modalBtn
                | ANSWER
            // Modal
            #answerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='answerModalTitle' aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLongTitle.modal-title Post an answer
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') x
                        .modal-body
                            form.needs-validation#answerForm
                                .form-group
                                    label(for='formControlInput1') Answer
                                    br
                                    textarea#formControlInput1.form-control(type='text' placeholder='Content...' name = "content" required ="")
                                    .invalid-feedback
                                        | Please insert an answer.
                                    br
                                .form-group
                                    label(for='formControlInput2') Your name
                                    br
                                    input#formControlInput2.form-control(type='text' placeholder='John Smith' name = "author" required ="")
                                    .invalid-feedback
                                        | Please insert your name.
                                    br
                                .container.centerContainer
                                    input(id = "user" name = "user" hidden)
                                    button.btn.btn-outline-info.formBtn(id = "submitAnswer") Submit
    hr
    h4 Answers 
    hr
    br
    #answers
        if(answers.length == 0)
            container.centerContainer
                h6 There are no answers to this post, be the first one !
                br
                br
                br

    each answer in answers
        .card
            .card-body
                blockquote.blockquote.mb-0
                p
                    | #{answer.content}
                footer.blockquote-footer
                    | by #{answer.author}
                    if answer.verifiedAuthor == true
                        p.verifiedAuthor Phenoflow verified author
                    p
                    p(id = answer.id)
                button.btn.btn-outline-info(onClick = "deleteAnswer(" + answer.id + "," + answer.postId + ")" class = "deleteAnswer"+ answer.id +" restricted").deletePostBtn
                    svg.bi.bi-trash3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                        path(d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z')
        
        script.
            document.getElementById("#{answer.id}").innerHTML = timeSince(new Date("#{answer.createdAt}" )) + " ago"
        br
    
    script.
        document.getElementById("timeAgo").innerHTML = timeSince(new Date("#{post.createdAt}" )) + " ago"

    script.
        function answerLocalStorage(){
            let user = localStorage.getItem('user')
            document.getElementById("user").value = user
            console.log(document.getElementById("user").value)
        }


    script(type='text/javascript', src='/phenoflow/javascripts/post.js')
    script(type='text/javascript', src='/phenoflow/javascripts/formValidation.js')


    
        